  {{!--About us starts --}}
  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Grow your business with us.</p>
        <div class="row">


          <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="images/AboutUs_white.jpg" alt="people_image" width="700" height="500">
            </figure>
          </div>


          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text  d-flex justify-content-center 
            align-items-start flex-column">
            <p>Welcome to  <span class="bold-style">RandomIdeas.</span> Business
             News Daily was founded in 2010 as a resource for small business owners
              at all stages of their entrepreneurial journey. Our site is focused 
              exclusively on giving small business advice, tutorials and insider 
              insights. Business News Daily is owned by RandomIdeas.com. </p>
            <button class="btn-style btn-primary">Read more</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{!--About us ends --}}